Given a bank customer, build a neural network-based classifier that can determine whether
they will leave or not in the next 6 months.
Dataset Description: The case study is from an open-source dataset from Kaggle.
The dataset contains 10,000 sample points with 14 distinct features such as
CustomerId, CreditScore, Geography, Gender, Age, Tenure, Balance, etc.
Link to the Kaggle project:
https://www.kaggle.com/barelydedicated/bank-customer-churn-modeling
Perform following steps:
1. Read the dataset.
2. Distinguish the feature and target set and divide the data set into training and test sets.
3. Normalize the train and test data.
4. Initialize and build the model. Identify the points of improvement and implement the same.
5. Print the accuracy score and confusion matrix (5 points).

In [51]:
import pandas as pd

In [52]:
churn_df = pd.read_csv("Churn_Modelling.csv")

In [53]:
churn_df

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [54]:
churn_df = churn_df.drop("RowNumber", axis=1)

In [55]:
churn_df = churn_df.drop("CustomerId", axis=1)

In [56]:
churn_df = churn_df.drop("Surname", axis=1)

In [57]:
states = pd.get_dummies(churn_df['Geography'],drop_first=True)

In [58]:
gender = pd.get_dummies(churn_df['Gender'],drop_first=True)

In [59]:
churn_df = pd.concat([churn_df, states, gender], axis=1)

In [60]:
churn_df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Germany,Spain,Male
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1,False,False,False
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0,False,True,False
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1,False,False,False
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0,False,False,False
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,Male,39,5,0.00,2,1,0,96270.64,0,False,False,True
9996,516,France,Male,35,10,57369.61,1,1,1,101699.77,0,False,False,True
9997,709,France,Female,36,7,0.00,1,0,1,42085.58,1,False,False,False
9998,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1,True,False,True
9999,792,France,Female,28,4,130142.79,1,1,0,38190.78,0,False,False,False

In [61]:
churn_df = churn_df.drop("Gender", axis=1)
churn_df = churn_df.drop("Geography", axis=1)

In [62]:
churn_df

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Germany,Spain,Male
0,619,42,2,0.00,1,1,1,101348.88,1,False,False,False
1,608,41,1,83807.86,1,0,1,112542.58,0,False,True,False
2,502,42,8,159660.80,3,1,0,113931.57,1,False,False,False
3,699,39,1,0.00,2,0,0,93826.63,0,False,False,False
4,850,43,2,125510.82,1,1,1,79084.10,0,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,39,5,0.00,2,1,0,96270.64,0,False,False,True
9996,516,35,10,57369.61,1,1,1,101699.77,0,False,False,True
9997,709,36,7,0.00,1,0,1,42085.58,1,False,False,False
9998,772,42,3,75075.31,2,1,0,92888.52,1,True,False,True
9999,792,28,4,130142.79,1,1,0,38190.78,0,False,False,False

In [63]:
X=churn_df[['CreditScore','Age','Tenure', 'Balance','NumOfProducts', 'HasCrCard','IsActiveMember','EstimatedSalary', 'Germany',	'Spain',	'Male' ]]

In [64]:
Y = churn_df['Exited']

In [65]:
X

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Germany,Spain,Male
0,619,42,2,0.00,1,1,1,101348.88,False,False,False
1,608,41,1,83807.86,1,0,1,112542.58,False,True,False
2,502,42,8,159660.80,3,1,0,113931.57,False,False,False
3,699,39,1,0.00,2,0,0,93826.63,False,False,False
4,850,43,2,125510.82,1,1,1,79084.10,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,39,5,0.00,2,1,0,96270.64,False,False,True
9996,516,35,10,57369.61,1,1,1,101699.77,False,False,True
9997,709,36,7,0.00,1,0,1,42085.58,False,False,False
9998,772,42,3,75075.31,2,1,0,92888.52,True,False,True
9999,792,28,4,130142.79,1,1,0,38190.78,False,False,False

In [66]:
Y

0       1
1       0
2       1
3       0
4       0
       ..
9995    0
9996    0
9997    1
9998    1
9999    0
Name: Exited, Length: 10000, dtype: int64

In [67]:
from sklearn.model_selection import train_test_split

In [68]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.25)

In [69]:
from sklearn.preprocessing import StandardScaler

scale = StandardScaler()

In [70]:
X_train = scale.fit_transform(X_train)

In [71]:
X_test = scale.fit_transform(X_test)

In [72]:
import keras
from keras.models import Sequential
from keras.layers import Dense

In [75]:
classifier = Sequential()
classifier.add(Dense(activation = "relu", input_dim=11, units=6, kernel_initializer="uniform")) #default learning  rate =0.01
classifier.add(Dense(activation = "relu",  units=6, kernel_initializer="uniform")) 
classifier.add(Dense(activation = "sigmoid",units=1, kernel_initializer="uniform"))

In [76]:
classifier.compile(optimizer="adam", loss="binary_crossentropy", metrics=["accuracy"])

In [77]:
classifier.summary()

Model: "sequential_2"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense_3 (Dense)                 │ (None, 6)              │            72 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_4 (Dense)                 │ (None, 6)              │            42 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_5 (Dense)                 │ (None, 1)              │             7 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 121 (484.00 B)

 Trainable params: 121 (484.00 B)

 Non-trainable params: 0 (0.00 B)

In [78]:
classifier.fit(X_train, Y_train, batch_size=10, epochs=50)

Epoch 1/50
750/750 ━━━━━━━━━━━━━━━━━━━━ 2s 1ms/step - accuracy: 0.7924 - loss: 0.5585
Epoch 2/50
750/750 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.7873 - loss: 0.4386
Epoch 3/50
750/750 ━━━━━━━━━━━━━━━━━━━━ 1s 933us/step - accuracy: 0.7967 - loss: 0.4226
Epoch 4/50
750/750 ━━━━━━━━━━━━━━━━━━━━ 1s 957us/step - accuracy: 0.8228 - loss: 0.4134
Epoch 5/50
750/750 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.8209 - loss: 0.4271
Epoch 6/50
750/750 ━━━━━━━━━━━━━━━━━━━━ 1s 961us/step - accuracy: 0.8274 - loss: 0.4193
Epoch 7/50
750/750 ━━━━━━━━━━━━━━━━━━━━ 2s 1ms/step - accuracy: 0.8331 - loss: 0.4047
Epoch 8/50
750/750 ━━━━━━━━━━━━━━━━━━━━ 1s 838us/step - accuracy: 0.8255 - loss: 0.4199
Epoch 9/50
750/750 ━━━━━━━━━━━━━━━━━━━━ 1s 923us/step - accuracy: 0.8333 - loss: 0.4112
Epoch 10/50
750/750 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.8273 - loss: 0.4143
Epoch 11/50
750/750 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.8269 - loss: 0.4092
Epoch 12/50
750/750 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.8322 - loss: 0.4084
Epoch 13/50
750/750 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.8339 - loss: 0.4061
Epoch 14/50
750/750 ━━━━━━━━━━━━━━━━━━━━ 1s 844us/step - accuracy: 0.8283 - loss: 0.4176
Epoch 15/50
750/750 ━━━━━━━━━━━━━━━━━━━━ 1s 854us/step - accuracy: 0.8349 - loss: 0.4075
Epoch 16/50
750/750 ━━━━━━━━━━━━━━━━━━━━ 1s 910us/step - accuracy: 0.8309 - loss: 0.4102
Epoch 17/50
750/750 ━━━━━━━━━━━━━━━━━━━━ 1s 936us/step - accuracy: 0.8260 - loss: 0.4137
Epoch 18/50
750/750 ━━━━━━━━━━━━━━━━━━━━ 1s 908us/step - accuracy: 0.8338 - loss: 0.4050
Epoch 19/50
750/750 ━━━━━━━━━━━━━━━━━━━━ 1s 814us/step - accuracy: 0.8353 - loss: 0.4050
Epoch 20/50
750/750 ━━━━━━━━━━━━━━━━━━━━ 1s 906us/step - accuracy: 0.8331 - loss: 0.4047
Epoch 21/50
750/750 ━━━━━━━━━━━━━━━━━━━━ 1s 798us/step - accuracy: 0.8339 - loss: 0.4039
Epoch 22/50
750/750 ━━━━━━━━━━━━━━━━━━━━ 1s 902us/step - accuracy: 0.8361 - loss: 0.4045
Epoch 23/50
750/750 ━━━━━━━━━━━━━━━━━━━━ 1s 905us/step - accuracy: 0.8366 - loss: 0.3999
Epoch 24/50
750/750 ━━━━━━━━━━━━━━━━━━━━ 1s 818us/step - accuracy: 0.8359 - loss: 0.4036
Epoch 25/50
750/750 ━━━━━━━━━━━━━━━━━━━━ 1s 905us/step - accuracy: 0.8275 - loss: 0.4084
Epoch 26/50
750/750 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 0.8416 - loss: 0.4006
Epoch 27/50
750/750 ━━━━━━━━━━━━━━━━━━━━ 2s 1ms/step - accuracy: 0.8267 - loss: 0.4116
Epoch 28/50
750/750 ━━━━━━━━━━━━━━━━━━━━ 1s 960us/step - accuracy: 0.8373 - loss: 0.3997
Epoch 29/50
750/750 ━━━━━━━━━━━━━━━━━━━━ 1s 926us/step - accuracy: 0.8282 - loss: 0.4178
Epoch 30/50
750/750 ━━━━━━━━━━━━━━━━━━━━ 1s 983us/step - accuracy: 0.8379 - loss: 0.4010
Epoch 31/50
750/750 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.8349 - loss: 0.4068
Epoch 32/50
750/750 ━━━━━━━━━━━━━━━━━━━━ 1s 963us/step - accuracy: 0.8353 - loss: 0.4011
Epoch 33/50
750/750 ━━━━━━━━━━━━━━━━━━━━ 1s 912us/step - accuracy: 0.8302 - loss: 0.4123
Epoch 34/50
750/750 ━━━━━━━━━━━━━━━━━━━━ 1s 936us/step - accuracy: 0.8282 - loss: 0.4106
Epoch 35/50
750/750 ━━━━━━━━━━━━━━━━━━━━ 1s 847us/step - accuracy: 0.8350 - loss: 0.4070
Epoch 36/50
750/750 ━━━━━━━━━━━━━━━━━━━━ 1s 935us/step - accuracy: 0.8332 - loss: 0.4063
Epoch 37/50
750/750 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.8369 - loss: 0.4016
Epoch 38/50
750/750 ━━━━━━━━━━━━━━━━━━━━ 1s 852us/step - accuracy: 0.8370 - loss: 0.3946
Epoch 39/50
750/750 ━━━━━━━━━━━━━━━━━━━━ 1s 972us/step - accuracy: 0.8329 - loss: 0.4043
Epoch 40/50
750/750 ━━━━━━━━━━━━━━━━━━━━ 1s 960us/step - accuracy: 0.8386 - loss: 0.3957
Epoch 41/50
750/750 ━━━━━━━━━━━━━━━━━━━━ 1s 923us/step - accuracy: 0.8308 - loss: 0.4118
Epoch 42/50
750/750 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.8365 - loss: 0.3958
Epoch 43/50
750/750 ━━━━━━━━━━━━━━━━━━━━ 1s 955us/step - accuracy: 0.8293 - loss: 0.3989
Epoch 44/50
750/750 ━━━━━━━━━━━━━━━━━━━━ 1s 989us/step - accuracy: 0.8322 - loss: 0.4084
Epoch 45/50
750/750 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.8420 - loss: 0.3949
Epoch 46/50
750/750 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.8347 - loss: 0.3998
Epoch 47/50
750/750 ━━━━━━━━━━━━━━━━━━━━ 1s 920us/step - accuracy: 0.8384 - loss: 0.3978
Epoch 48/50
750/750 ━━━━━━━━━━━━━━━━━━━━ 1s 993us/step - accuracy: 0.8368 - loss: 0.4060
Epoch 49/50
750/750 ━━━━━━━━━━━━━━━━━━━━ 1s 860us/step - accuracy: 0.8403 - loss: 0.3911
Epoch 50/50
750/750 ━━━━━━━━━━━━━━━━━━━━ 1s 862us/step - accuracy: 0.8296 - loss: 0.4055

In [79]:
pred = classifier.predict(X_test)

79/79 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step

In [83]:
pred = (pred>0.5)

In [88]:
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report

In [89]:
accuracy = accuracy_score(Y_test, pred)

In [90]:
print(accuracy)

0.8392

In [91]:
report = classification_report(Y_test, pred)
print(report)

              precision    recall  f1-score   support

           0       0.86      0.96      0.91      2020
           1       0.67      0.32      0.44       480

    accuracy                           0.84      2500
   macro avg       0.76      0.64      0.67      2500
weighted avg       0.82      0.84      0.82      2500

In [92]:
confusion_matrix = confusion_matrix(Y_test, pred)

In [93]:
confusion_matrix

array([[1943,   77],
       [ 325,  155]])